body {
	font-family: sans-serif;
}

h1 {
	font-size: xx-large;
	font-family: bolder;
	text-align: center;
	background-color: #b2cecf;
	color: white;
	width: 100%;
}


#products{
	background-color: #b2cecf;
	border-style: solid solid solid solid; 
	position: absolute;
	width: 70%;
	height: 500px;
	top: 100px;
}

#cart {
	background-color: #b2cecf;
	border-style: solid solid solid solid;
	position: absolute;
	width: 25%;
	top: 100px;
	right: 10px;
	height: 500px;
}

.img {
	float: left;
}

.prodName {
	font-size: x-large;
}

.prodDesc {
	position: static;
	left: 0;
	top: -30px;
}

.product {
	float: none;
	height: 125px;
	min-width: 500px;
	margin-bottom: 20px;
}